<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bosh.jetpackdemo">

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackDemo">
        <activity
            android:name=".ui.oil.history.AddOilHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.oil.add.AddOilRecordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.oil.price.OilPriceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- startup setting -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.bosh.jetpackdemo.start-up"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities">
            <meta-data
                android:name="com.bosh.jetpackdemo.init.TestInitialization"
                android:value="androidx.startup" />

<!--            <meta-data-->
<!--                android:name="androidx.work.impl.WorkManagerInitializer"-->
<!--                android:value="androidx.startup"-->
<!--                tools:node="remove" />-->
        </provider>

<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            android:authorities="${applicationId}.androidx-startup"-->
<!--            tools:node="remove">-->
<!--        </provider>-->

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove"/>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>